<template>
  <div class="container">
    <div>
      <!-- <Logo /> -->
      <h1 class="title">
        Cortijo de Mazas
      </h1>
      <p>
        Cortijo de Mazas es un barrio perteneciente al distrito de Churriana de la ciudad andaluza de Málaga, España.
      </p>
      <p>
        Calles
      </p>
      <p>
        Calle Pozos Blanco
      </p>
      <p>
        Calle Enrique Ramos
      </p>
      <p>
        Calle de la Sierra de Gata
      </p>
      <p>
        Pasaje Palacio Valdes
      </p>
      <p>
        Calle Canal
      </p>
      <p>
        Calle Dinamarca
      </p>
      <p>Calle Canalillo</p>
      <p>
        Calle Realenga de Mazas
      </p>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
