<template>
  <div class="container">
    <div class="mt-5 pb-5"></div>
    <div class="mt-4 pb-4"></div>
    <div class="mt-5 d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
      <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1 mt-5">
          Información Turística
        </h1>
        <small>Cerca del Cortijo de Mazas</small>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Lugares de interes</h6>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Plaza mayor</strong>
          Descubre una gran variedad de tiendas de Moda, Restaurantes y Cine para que disfrutes con los tuyos
          <a href="https://g.page/plazamayorfashion?share" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">El Molino de la torre</strong>
          La torre Molinos o torre de los Molinos es una torre de defensa situada en el municipio de Torremolinos al que le da nombre
          <a href="https://goo.gl/maps/fwzEQVpTDsCNiCK78" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Acueducto Cortijo de Mazas</strong>
          El acueducto del cortijo de Mazas es uno de los restos de las antiguas obras hidráulicas encaminadas a abastecer a Málaga con las aguas procedentes de los Manantiales de Torremolinos. Datado en 1926 dentro de las nuevas obras proyectadas por el ingeniero de caminos José Bores y Romero, se halla actualmente en una parcela libre rodeada por urbanizaciones y por la autopista que la limita al sur. Se orienta perpendicular a la N-340, por donde transcurría el canal principal que transportaba las aguas a la capital.
          <a href="https://goo.gl/maps/EtCm3HNzWozMaH3N8" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Casa de los Navajas</strong>
          La Casa de Los Navajas. Un palacio estilo morarabe en el corazón del Bajondillo.
          <a href="https://g.page/casa-de-los-navajas?share" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Mirador de la Cañada del Lobo</strong>
          La Cañada del Lobo es un paraje excepcional situado en la montaña a pocos minutos de la ciudad, con refugio y varias rutas de senderismo.
          <a href="https://goo.gl/maps/eBuAcb7zNfYRGfz8A" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Parque de la Bateria</strong>
          Ubicado al norte de La Carihuela y junto a la parada de tren de Montemar Alto, el parque de La Batería cuenta con más de 74.000 metros cuadrados para el ocio
          <a href="https://goo.gl/maps/vVJf7DEU65A2bfu47" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Molino de Inca</strong>
          El Jardín Botánico está en el camino de los Pinares, tiene casi un millar de especies vegetales y alberga una réplica del viejo Molino de Inca.
          <a href="https://g.page/molino-de-inca?share" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Mercadillo</strong>
          Los Jueves y Domingos cerca de la plaza de toros de Torremolinos
          <a href="https://goo.gl/maps/AEG3pVxaPPAfUdKv6" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Actividades</h6>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Club hípico el Ranchito</strong>
          Centro equestre que ofrece paseos a caballos en el campo, clases de hequitacion, y espectaculos hípicos
          <a href="https://ranchito.com" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Paseo por el campo</strong>
          La urbanizacion del Cortijo de Mazas se encientra entre dos zonas naturales, disfruta de un agradable paseo pos el campo acompanado de la fauna autoctona
        </p>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">
        Restaurantes
      </h6>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Pizzeria La Piccoleñata</strong>
          150m
          <a href="https://goo.gl/maps/EbriJYJLTXwSexCa8" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Pizzeria Bellavista</strong>
          Pizzeria a 1km
          <a href="https://g.page/pizzorante-bellavista?share" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Los pescaitos</strong>
          Comida tipica malaguena a 3km
          <a href="https://goo.gl/maps/zVZvKWne2ZcqLJq98" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Bar San Javier</strong>
          Bar para comer Pescados y Mariscos a 2km
          <a href="https://goo.gl/maps/knYXCY85zpELUWjV7" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Gastrobar La Oveja Negra</strong>
          Restaurante de cocina fusion a 2km
          <a href="https://goo.gl/maps/X5LdrNAigmzDCubNA" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Playas</h6>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Playamar 2km</strong>
          La playa de Playamar tiene una extensión de 1 kilómetros de longitud y 50 metros de anchura media y se encuentra en el municipio de Torremolinos.
          <a href="https://goo.gl/maps/ZuPGMyj49icPjUyd8" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Playa de San Julián 5km</strong>
          Playa tranquila, con poca gente, agua limpia. Y muchísimo aparcamiento
          <a href="https://goo.gl/maps/JemnxfTnwkg4xGyn9" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Maro 70km</strong>
          Maro es una localidad española, pedanía del municipio de Nerja, en la provincia de Málaga, Andalucía y debe su nombre a una planta
          <a href="https://goo.gl/maps/xhECSRBJ5yCLxf4s9" target="_blank"><strong class="d-block text-gray-dark">Mas information</strong></a>
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

</style>
