<template>
  <div class="container">
    <div>
      <h1 class="title">
        Negocios
      </h1>
      <p>
        Pizzorante Bellavista, Camino Club de Tenis, 6 29140 Málaga
      </p>
      <p>
        La Piccolena Calle Canal, 48 29140 Cortijo de Mazas Málaga
      </p>
      <p>
        Tres 14 Tapas & Café Avenida Manuel Fraga Iribarne, 3 29620 Torremolinos
      </p>
      <p>
        Restaurante Mandarin Camino del Pilar, 23 29620 Torremolinos
      </p>
      <p>
        Asiatico La Colina Avenida Manuel Fraga Iribarne, 3 29620 Torremolinos
      </p>
      <p>Mas https://malaga.callejero.net/camino-del-cortijo-de-maza.html</p>
    </div>
  </div>
</template>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}
</style>
