<template>
  <main>
    <div class="position-relative overflow-hidden text-center bg-light">
      <div class="col-md-12 mx-auto py-5">
        <h1 class="display-4 fw-normal">
          Habitacion Primavera
        </h1>
        <p class="lead fw-normal">
          Se trata de una acogedora habitación con un asombroso techo de vigas hecho con troncos de árboles enteros. Está en la planta baja y en su día fue un establo donde dormían un cerdo y un burro. Tiene una cama muy cómoda que se puede hacer como una cama doble o dos camas individuales. Si lo desea, podemos proporcionarle un colchón.
          Un Gran Foulard Laura Bassetti de primera calidad con cojines a juego adornan la cama y dan color a la habitación. La habitación está amueblada con sencillos muebles rústicos andaluces y decorada con encajes de Brujas hechos a mano entre otros objetos de arte. Hay un amplio espacio de almacenamiento con un armario empotrado. Con calefacción y aire acondicionado, la habitación puede mantenerse a una temperatura agradable en todas las estaciones.
          El cuarto de baño tiene una ducha con mampara de cristal, una ducha de lluvia y otra de mano, un lavabo, un inodoro y un bidé. Se proporcionan artículos de aseo, ropa de baño, toallas de piscina y secador de pelo.
          Pepa y Platero se completa con una conexión wi-fi gratuita y una botella de agua mineral Lanjarón de regalo.
        </p>
      </div>
    </div>

    <div class="row container-fluid">
      <div class="col d-grid gap-2">
        <a class="btn btn-success" type="button" href="/habitaciones/primavera/price"> Precio &raquo;</a>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">
            Cocina
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_1.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">
            Escritorio
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_2.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">
            Salon
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_3.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">
            Escritorio
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_4.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">
            Another headline
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_5.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">
            Another headline
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_6.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">
            Another headline
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_7.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">
            Another headline
          </h2>
          <p class="lead">
            And an even wittier subheading.
          </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="~/static/habitaciones/primavera/pic_8.jpeg" alt="primavera" width="100%" height="100%">
        </div>
      </div>
    </div>

    <div class="row container-fluid">
      <div class="col d-grid gap-2">
        <a class="btn btn-success" type="button" href="/habitaciones/primavera/price"> Precio &raquo;</a>
      </div>
    </div>
  </main>
</template>
<script>
</script>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
