<template>
  <div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">
          Habitacion Primavera
        </h1>
        <p class="fs-5 text-muted">
          Apartamento con cama de matrimonio, cocina americana, espacioso
          cuarto de baño, con jardin, la cocina incluye honilla a gas, nevera
          con un estilo rustico
        </p>
      </div>
    </header>

    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">
                Dia
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                50€<small class="text-muted fw-light">/dia</small>
              </h1>
              <ul class="list-group list-unstyled my-3 mx-4">
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-bed.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Cama de matrimonio
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-wifi.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Wifi Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-parking.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Parking Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-garden.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Jardin
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-air.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Aire acondicionado
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-pet.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Se admiten mascotas
                </li>
              </ul>
              <a class="w-100 btn btn-lg btn-primary" type="button" href="https://www.airbnb.es/rooms/51039047"> Solicitar &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">
                Semana
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                45€<small class="text-muted fw-light">/dia</small>
              </h1>
              <ul class="list-group list-unstyled my-3 mx-4">
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-bed.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Cama de matrimonio
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-wifi.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Wifi Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-parking.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Parking Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-garden.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Jardin
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-air.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Aire acondicionado
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-pet.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Se admiten mascotas
                </li>
              </ul>
              <a class="w-100 btn btn-lg btn-primary" type="button" href="https://www.airbnb.es/rooms/51039047"> Solicitar &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">
                Mes
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                40€<small class="text-muted fw-light">/dia</small>
              </h1>
              <ul class="list-group list-unstyled my-3 mx-4">
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-bed.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Cama de matrimonio
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-wifi.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Wifi Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-parking.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Parking Gratuito
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-garden.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Jardin
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-air.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Aire acondicionado
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-pet.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  Se admiten mascotas
                </li>
                <li class="text-start">
                  <img
                    class="mb-2 filter-green"
                    src="~/static/svg/cortijo-wine.svg"
                    alt=""
                    width="24"
                    height="19"
                  >
                  1 Botella de Vino
                </li>
              </ul>
              <a class="w-100 btn btn-lg btn-primary" type="button" href="https://www.airbnb.es/rooms/51039047"> Solicitar &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
</script>
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style>
