<template>
  <div>
    <header>
      <div class="my-4" />
      <nav
        class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-3"
        :class="{ 'navbar--hidden': !showNavbar }"
      >
        <div class="container-fluid">
          <div id="navbarCollapse" class="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="/">Pagina principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="/localizacion">Localización</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="/interest">Informacion de interes</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  id="navbarDropdownMenuLink"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Habitaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" target="_blank" href="https://www.airbnb.es/rooms/51039047">Habitacion Primavera</a></li>
                  <li><a class="dropdown-item" target="_blank" href="https://www.airbnb.es/rooms/51062755">Habitacion Otoño</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <Nuxt />
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">
        Cortijo de Mazas&copy; 2017–2021
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/privacy">Privacidad</a>
        </li>
        <li class="list-inline-item">
          <a href="/terms">Terminos</a>
        </li>
        <li class="list-inline-item">
          <a href="/help">Ayuda</a>
        </li>
      </ul>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showNavbar: true,
      lastScrollPosition: 0
    }
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)
    window.scrollTo(0, 230)
    this.showNavbar = false
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      // Get the current scroll position
      const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop
      // Because of momentum scrolling on mobiles, we shouldn't continue if it is less than zero
      if (currentScrollPosition < 0) {
        return
      }
      // Here we determine whether we need to show or hide the navbar
      this.showNavbar = currentScrollPosition < this.lastScrollPosition
      // Set the current scroll position as the last scroll position
      this.lastScrollPosition = currentScrollPosition
    }
  }
}

</script>

<style>

html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.navbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
</style>
