<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        El Cortijo de Mazas tiene muchas historias que han ido transcurriendo a lo largo de su vida. La primera que se me viene a la cabeza es la leyenda urbana del hombre de la furgoneta, Cuenta la legenda que algunos anos atrás pasaba un hombre en una camioneta blanca, Si algún niño o nina se encontraba solo cuando la camioneta pasaba al lado del pequeño, esta reducía la velocidad, abría la puerta lateral y cogía al niño. No sé de donde surgió esta legenda, ni cuanta verdad hay en ella, pero cuando mi vecina me lo contó, mi bello se erizó y mi corazón se estremeció.
      </h1>
    </div>
  </div>
</template>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #35495e;
  letter-spacing: 1px;
}
</style>
