<template>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        />
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" />
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" />
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="~/static/cortijo_outside_1.jpeg" alt="Historia" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Historia</h1>
              <p>del Cortijo de Mazas</p>
              <p><a class="btn btn-lg btn-primary" href="/historia">Ir</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/static/cortijo_outside_2.jpeg" alt="mapa" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Informacion de interes</h1>
              <p>que se pueden hacer en la proximidades</p>
              <p><a class="btn btn-lg btn-primary" href="/interest">Ir</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="~/static/cortijo_outside_3.jpeg" alt="mapa" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Habitaciones</h1>
              <p><a class="btn btn-lg btn-primary" href="/habitaciones">Ir</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" />
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" />
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container marketing">
      <div class="row">
        <div class="col col-lg-6 align-items-center">
          <img src="~/static/habitaciones/otono/pic_1.jpeg" class="rounded-circle" alt="mapa" width="140" height="140">
          <h2>Habitacion Otoño</h2>
          <p>Aparatamento en el ala norte del Cortijo</p>
          <p><a class="btn btn-secondary" target="_blank" href="https://www.airbnb.es/rooms/51062755">Ver mas detalles &raquo;</a></p>
        </div>
        <div class="col col-lg-6 align-items-center">
          <img src="~/static/habitaciones/primavera/pic_1.jpeg" class="rounded-circle" alt="mapa" width="140" height="140">
          <h2>Habitacion Primavera</h2>
          <p>Aparatamento en el ala norte del Cortijo</p>
          <p><a class="btn btn-secondary" target="_blank" href="https://www.airbnb.es/rooms/51039047">Ver mas detalles &raquo;</a></p>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Relajate <span class="text-muted">y disfruta de la naturaleza</span>
          </h2>
          <p class="lead">
            El estilo de vida en Andalucía consiste en hacer vida al aire libre, se trata de disfrutar del tiempo con amigos y familia
          </p>
        </div>
        <div class="col-md-5">
          <img src="~/static/cortijo_outside_4.jpeg" alt="mapa" width="500" height="500">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Vive <span class="text-muted">esta experiencia unica</span>
          </h2>
          <p class="lead">
            Andalucía es una comunidad repleta en cultura, y además es famosa por sus preciosas playas, la soledad y la pura felicidad. Su historia se remonta en cientos de años, haciendo que las tierras de Andalucía sean auténticas. Su gente comparte una real conexión el uno con el otro y disfrutan de la vida al máximo. Podemos contemplar el lujo que Andalucía nos ofrece, el cual a veces podemos encontrar en las cosas simples de la vida, como el vino, el jamón y la compañía… ¡Todo se trata de disfrutar de la vida!
          </p>
        </div>
        <div class="col-md-5">
          <img src="~/static/cortijo_outside_9.jpeg" alt="mapa" width="500" height="500">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Actividades cerca del <span class="text-muted">Cortijo de Mazas</span>
          </h2>
          <p class="lead">
            Monta a caballo en el Ranchito
          </p>
        </div>
        <div class="col-md-5">
          <img src="~/static/ranchito.jpg" alt="mapa" width="500" height="500">
        </div>
      </div>
      <hr class="featurette-divider">
    </div><!-- /.container -->
  </main>
</template>
<script>
</script>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
